<div id="bodyContent" class="mw-body-content">
<h1>Gulag</h1>
<p><b>Gulag</b> (<a href="/wiki/Ru%C5%A1tina" title="Ruština">rusky</a>: <a href="/wiki/M%C3%A9dia:Ru-Gulag.ogg" title="zvuk"><img alt="zvuk" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/12px-Loudspeaker.svg.png" width="12" height="12" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/18px-Loudspeaker.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/24px-Loudspeaker.svg.png 2x" data-file-width="20" data-file-height="20"></a> <a href="/wiki/Soubor:Ru-Gulag.ogg" title="Soubor:Ru-Gulag.ogg"><b>G</b>lavnoje <b>u</b>pravlenije <b>lag</b>erej</a>, <i>ГУЛаг, <b>Г</b>лавное <b>у</b>правление исправительно-трудовых <b>лаг</b>ерей</i>, <a href="/wiki/%C4%8Ce%C5%A1tina" title="Čeština">česky</a>: <b>Hlavní správa nápravně-pracovních táborů</b>) byl jedním z oddělení tajné policie <a href="/wiki/Sov%C4%9Btsk%C3%BD_svaz" title="Sovětský svaz">Sovětského svazu</a> řídící a spravující systém <a href="/wiki/Koncentra%C4%8Dn%C3%AD_t%C3%A1bor" title="Koncentrační tábor">koncentračních</a> a <a href="/wiki/Pracovn%C3%AD_t%C3%A1bor" title="Pracovní tábor">pracovních táborů</a> <a href="/wiki/Sov%C4%9Btsk%C3%BD_svaz" title="Sovětský svaz">SSSR</a>, který začal být budován za <a href="/wiki/Vladimir_Ilji%C4%8D_Lenin" title="Vladimir Iljič Lenin">Lenina</a> (1919) na samém počátku Sovětského svazu a byl rozšířen za <a href="/wiki/Josif_Vissarionovi%C4%8D_Stalin" title="Josif Vissarionovič Stalin">Stalinovy</a> vlády.</p>
<p>Správa byla i s tábory samotnými oficiálně zrušena v lednu <a href="/wiki/1960" title="1960">1960</a>, ve skutečnosti ovšem tábory (pod jiným jménem, většinou s méně krutým režimem a někdy i na jiných místech) existovaly až do konce <a href="/wiki/Komunismus" title="Komunismus">komunistického</a> režimu. Slovo gulag se posléze přeneseně používalo pro označení sítě táborů nebo i jednotlivých táborů pod správou této instituce. Během celé existence SSSR vzniklo nejméně 476 táborových komplexů, v nichž byly sdruženy tisíce táborů.</p>
<p></p>
<div id="toc" class="toc">
<div id="toctitle">
<h2>Obsah</h2>
<span class="toctoggle">&nbsp;[<a href="#" id="togglelink">skrýt</a>]&nbsp;</span></div>
<ul>
<li class="toclevel-1 tocsection-1"><a href="#Princip_gulagu"><span class="tocnumber">1</span> <span class="toctext">Princip gulagu</span></a></li>
<li class="toclevel-1 tocsection-2"><a href="#Po.C4.8Det_lid.C3.AD_v_Gulagu"><span class="tocnumber">2</span> <span class="toctext">Počet lidí v Gulagu</span></a></li>
<li class="toclevel-1 tocsection-3"><a href="#Zn.C3.A1m.C3.AD_lid.C3.A9_v_Gulagu"><span class="tocnumber">3</span> <span class="toctext">Známí lidé v Gulagu</span></a></li>
<li class="toclevel-1 tocsection-4"><a href="#Cizinci_v_Gulagu"><span class="tocnumber">4</span> <span class="toctext">Cizinci v Gulagu</span></a></li>
<li class="toclevel-1 tocsection-5"><a href="#Pov.C4.9Bdom.C3.AD_o_gulagu"><span class="tocnumber">5</span> <span class="toctext">Povědomí o gulagu</span></a></li>
<li class="toclevel-1 tocsection-6"><a href="#V.C3.BDznamn.C3.A9_t.C3.A1bory"><span class="tocnumber">6</span> <span class="toctext">Významné tábory</span></a></li>
<li class="toclevel-1 tocsection-7"><a href="#D.C3.ADla_inspirovan.C3.A1_Gulagy"><span class="tocnumber">7</span> <span class="toctext">Díla inspirovaná Gulagy</span></a></li>
<li class="toclevel-1 tocsection-8"><a href="#Galerie"><span class="tocnumber">8</span> <span class="toctext">Galerie</span></a></li>
<li class="toclevel-1 tocsection-9"><a href="#Literatura"><span class="tocnumber">9</span> <span class="toctext">Literatura</span></a></li>
<li class="toclevel-1 tocsection-10"><a href="#Reference"><span class="tocnumber">10</span> <span class="toctext">Reference</span></a></li>
<li class="toclevel-1 tocsection-11"><a href="#Gulag_v_sou.C4.8Dasn.C3.A9m_um.C4.9Bn.C3.AD"><span class="tocnumber">11</span> <span class="toctext">Gulag v současném umění</span></a></li>
<li class="toclevel-1 tocsection-12"><a href="#Souvisej.C3.ADc.C3.AD_.C4.8Dl.C3.A1nky"><span class="tocnumber">12</span> <span class="toctext">Související články</span></a></li>
<li class="toclevel-1 tocsection-13"><a href="#Extern.C3.AD_odkazy"><span class="tocnumber">13</span> <span class="toctext">Externí odkazy</span></a></li>
</ul>
</div>
<p></p>
<h2><span class="mw-headline" id="Princip_gulagu">Princip gulagu</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=1" title="Editace sekce: Princip gulagu" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=1" title="Editace sekce: Princip gulagu">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="//commons.wikimedia.org/wiki/File:Belomorkanal.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Belomorkanal.png/220px-Belomorkanal.png" width="220" height="127" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/f/f2/Belomorkanal.png 1.5x, //upload.wikimedia.org/wikipedia/commons/f/f2/Belomorkanal.png 2x" data-file-width="300" data-file-height="173"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Soubor:Belomorkanal.png" class="internal" title="Zvětšit"></a></div>
Vězni Gulagu budují <a href="/wiki/B%C4%9Blomo%C5%99sk%C3%BD_kan%C3%A1l" title="Bělomořský kanál" class="mw-redirect">Bělomořský kanál</a></div>
</div>
</div>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="//commons.wikimedia.org/wiki/File:Gulag11.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/64/Gulag11.jpg/220px-Gulag11.jpg" width="220" height="161" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/64/Gulag11.jpg/330px-Gulag11.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/64/Gulag11.jpg/440px-Gulag11.jpg 2x" data-file-width="760" data-file-height="556"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Soubor:Gulag11.jpg" class="internal" title="Zvětšit"></a></div>
Ubikace vězňů, 1936 či 1937</div>
</div>
</div>
<p>Během celé existence SSSR vzniklo nejméně 476 táborových komplexů, v nichž byly sdruženy tisíce táborů.<sup id="cite_ref-1" class="reference"><a href="#cite_note-1">[1]</a></sup> Na rozdíl od <a href="/wiki/Vyhlazovac%C3%AD_t%C3%A1bory_nacistick%C3%A9ho_N%C4%9Bmecka" title="Vyhlazovací tábory nacistického Německa">německých vyhlazovacích táborů</a> gulag představoval spíše tábory produkující <a href="/wiki/Otrok%C3%A1%C5%99stv%C3%AD" title="Otrokářství">otrockou</a> práci, jeho hlavním úkolem byla těžba surovin a stavba náročných projektů (<a href="/wiki/B%C4%9Blomo%C5%99sko-baltsk%C3%BD_kan%C3%A1l" title="Bělomořsko-baltský kanál">Bělomořsko-baltský kanál</a>). Projekt pracovních táborů po celém severu země vypracoval v roce 1929 <a href="/wiki/Naftalij_Aronovi%C4%8D_Frenkel" title="Naftalij Aronovič Frenkel">Naftalij Frenkel</a>, který návrh osobně předložil Stalinovi a získal jeho souhlas.</p>
<p>Podmínky v různých táborech byly dost různorodé a měnily se i v čase. Vzhledem k relativní organizační volnosti a moci táborových velitelů (kterou jim NKVD poskytovala) záleželo na tom, kdo byl táborovým velitelem - zda racionálně a „liberálněji“ myslící velitel, nebo nějaký krvelačný sadista. Některá místa skutečně představovala tábory smrti, která přicházela zpravidla v důsledku nemoci, odepření lékařské péče, <a href="/wiki/Podchlazen%C3%AD" title="Podchlazení">umrznutí</a>, případně <a href="/wiki/Hlad" title="Hlad">hladu</a>. Vězni v táborech museli nezřídka pracovat až 16 hodin denně či dokonce více s minimem stravy, bez patřičného <a href="/wiki/Pracovn%C3%AD_n%C3%A1%C5%99ad%C3%AD" title="Pracovní nářadí">nářadí</a>, bez zkušeností a za daných podmínek s nesplnitelnými <a href="/wiki/Norma" title="Norma">normami</a>. Kdo normu nesplnil, často nedostal svůj už tak hubený příděl jídla (nebo mu byl ještě zmenšen). Dozorci si leckdy beztrestně dělali s vězni, co chtěli (jedinou podmínkou bylo, aby příliš výrazně neklesla produkce). Často se pracovalo v&nbsp;mrazu bez patřičného oblečení. Existovalo ale i něco málo táborů, kde se žilo relativně dobře, např. pro některé klíčové vědce, kteří měli i v těchto podmínkách bádat.<sup id="cite_ref-2" class="reference"><a href="#cite_note-2">[2]</a></sup></p>
<h2><span class="mw-headline" id="Po.C4.8Det_lid.C3.AD_v_Gulagu">Počet lidí v Gulagu</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=2" title="Editace sekce: Počet lidí v Gulagu" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=2" title="Editace sekce: Počet lidí v Gulagu">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="//commons.wikimedia.org/wiki/File:Canal_Mer_Blanche.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Canal_Mer_Blanche.jpg/220px-Canal_Mer_Blanche.jpg" width="220" height="179" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Canal_Mer_Blanche.jpg/330px-Canal_Mer_Blanche.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Canal_Mer_Blanche.jpg/440px-Canal_Mer_Blanche.jpg 2x" data-file-width="1162" data-file-height="945"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Soubor:Canal_Mer_Blanche.jpg" class="internal" title="Zvětšit"></a></div>
Stavba bělomořského kanálu, 1932</div>
</div>
</div>
<p>Jen v období Stalinovy vlády (<a href="/wiki/1929" title="1929">1929</a>-<a href="/wiki/1953" title="1953">1953</a>) prošlo tábory gulagu nejméně 8 miliónů lidí. Někdy se k nim připočítávají i lidé žijící ve <a href="/wiki/Exil" title="Exil">vyhnanství</a> (minimálně 6 miliónů lidí), ti však nežili v táborech a jejich životní podmínky byly zpravidla lepší. Vrchol éry gulagu přišel na přelomu 40. a 50. let. Podle odhadů <a href="/wiki/Spojen%C3%A9_st%C3%A1ty_americk%C3%A9" title="Spojené státy americké">amerického</a> historika R. Conquesta dosáhl počet lidí v táborech v roce <a href="/wiki/1948" title="1948">1948</a> asi 10 milionů a v roce <a href="/wiki/1952" title="1952">1952</a>, těsně před Stalinovou smrtí, téměř 13 milionů. Na konci Stalinovy éry existovalo přibližně 200 táborů nucených prací, umístěných zejména na <a href="/wiki/Sibi%C5%99" title="Sibiř">Sibiři</a>, <a href="/wiki/D%C3%A1ln%C3%BD_v%C3%BDchod" title="Dálný východ">Dálném východě</a> a v <a href="/wiki/Arktida" title="Arktida">Arktidě</a>.</p>
<h2><span class="mw-headline" id="Zn.C3.A1m.C3.AD_lid.C3.A9_v_Gulagu">Známí lidé v Gulagu</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=3" title="Editace sekce: Známí lidé v Gulagu" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=3" title="Editace sekce: Známí lidé v Gulagu">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul>
<li><a href="/w/index.php?title=Gustaw_Herling-Grudzi%C5%84ski&amp;action=edit&amp;redlink=1" class="new" title="Gustaw Herling-Grudziński (stránka neexistuje)">Gustaw Herling-Grudziński</a></li>
<li><a href="/wiki/Sergej_Koroljov" title="Sergej Koroljov">Sergej Koroljov</a></li>
<li><a href="/wiki/Alexandr_Sol%C5%BEenicyn" title="Alexandr Solženicyn">Alexandr Solženicyn</a></li>
</ul>
<h2><span class="mw-headline" id="Cizinci_v_Gulagu">Cizinci v Gulagu</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=4" title="Editace sekce: Cizinci v Gulagu" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=4" title="Editace sekce: Cizinci v Gulagu">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>Gulag nebyl určen jen pro občany SSSR, ale ocitli se zde lidé mnoha dalších národností. Hned po rozdělení Polska mezi Sovětským svazem a hitlerovským Německem v roce 1939 docházelo k masovým deportacím Poláků, jež se ocitli na územích, okupovaných Ruskem, ale také představitelů dalších národů (Bělorusů a Ukrajinců), kteří de iure nebyli občany SSSR. Když <a href="/wiki/Rud%C3%A1_arm%C3%A1da" title="Rudá armáda">Rudá armáda</a> vytlačila z <a href="/wiki/Ma%C4%8Farsk%C3%BD_st%C3%A1t" title="Maďarský stát" class="mw-redirect">Maďarska</a> vojska <a href="/wiki/Nacistick%C3%A9_N%C4%9Bmecko" title="Nacistické Německo">Třetí říše</a>, započal transport představitelů elit i dalších práceschopných osob do Gulagů (zde již byla řada válečných zajatců). Z Budapešti byl do Gulagu odvlečen též švédský diplomat <a href="/wiki/Raoul_Wallenberg" title="Raoul Wallenberg">Raoul Wallenberg</a>, který za války zachránil životy odhadem 100 000 <a href="/wiki/%C5%BDid%C3%A9" title="Židé">Židů</a>. Celkově bylo do Gulagů odvlečeno přibližně 300 000 Maďarů, přičemž polovina z nich se nevrátila zpět. <a href="/wiki/Ma%C4%8Farsk%C3%A1_lidov%C3%A1_republika" title="Maďarská lidová republika">Maďarská lidová republika</a> však na navrátilce pohlížela krajně nedůvěřivě a tak se stali cílem častých represí.<sup id="cite_ref-TerorHaza_3-0" class="reference"><a href="#cite_note-TerorHaza-3">[3]</a></sup> Jako pravděpodobně poslední maďarský vězeň Gulagu se v roce 2000 vrátil (po 53 letech), původně válečný zajatec z druhé světové války, <a href="/wiki/Andr%C3%A1s_Toma" title="András Toma">András Toma</a>.<sup id="cite_ref-CS_4-0" class="reference"><a href="#cite_note-CS-4">[4]</a></sup><sup id="cite_ref-Times_5-0" class="reference"><a href="#cite_note-Times-5">[5]</a></sup> Do gulagu se dostalo také mnoho z více než 4 000 <a href="/wiki/Fin" title="Fin" class="mw-redirect">Finů</a>, zajatých během <a href="/wiki/Zimn%C3%AD_v%C3%A1lka" title="Zimní válka">Zimní</a> a <a href="/wiki/Pokra%C4%8Dovac%C3%AD_v%C3%A1lka" title="Pokračovací válka">pokračovací války</a> se SSSR.<sup id="cite_ref-Timo_6-0" class="reference"><a href="#cite_note-Timo-6">[6]</a></sup></p>
<h2><span class="mw-headline" id="Pov.C4.9Bdom.C3.AD_o_gulagu">Povědomí o gulagu</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=5" title="Editace sekce: Povědomí o gulagu" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=5" title="Editace sekce: Povědomí o gulagu">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<p>Oproti obecnému povědomí se politici a novináři západu o systému sovětských pracovních táborů dozvěděli již na přelomu 20. a 30. let 20. století a otevřeně o něm psali. Obecnou veřejnost však tato fakta příliš nezaujala, navíc Sovětskému svazu se pomocí dovedných zastíracích manévrů a propagandistických tahů podařilo vzbudit dojem, že většinu pracovních táborů zrušil (ačkoliv ve skutečnosti počet táborů i vězňů strmě rostl). Nové podrobnější informace se svět začal dozvídat až v době <a href="/wiki/Nikita_Sergejevi%C4%8D_Chru%C5%A1%C4%8Dov" title="Nikita Sergejevič Chruščov">Chruščovova</a> tání koncem 50. let. Všeobecně známé se staly až po vydání děl ruského disidenta <a href="/wiki/Alexandr_Sol%C5%BEenicyn" title="Alexandr Solženicyn">Alexandra Solženicyna</a>.</p>
<h2><span class="mw-headline" id="V.C3.BDznamn.C3.A9_t.C3.A1bory">Významné tábory</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=6" title="Editace sekce: Významné tábory" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=6" title="Editace sekce: Významné tábory">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul>
<li><a href="/wiki/Magadan" title="Magadan">Magadan</a></li>
<li><a href="/wiki/Norilsk" title="Norilsk">Norilsk</a></li>
<li><a href="/wiki/Pe%C4%8Dora" title="Pečora">Pečora</a></li>
<li><a href="/wiki/Vorkuta" title="Vorkuta">Vorkuta</a></li>
<li><a href="/wiki/Kolymsk%C3%A9_gulagy" title="Kolymské gulagy">Kolymské gulagy</a></li>
<li><a href="/wiki/Soloveck%C3%A9_ostrovy" title="Solovecké ostrovy">Solovecké ostrovy</a></li>
</ul>
<h2><span class="mw-headline" id="D.C3.ADla_inspirovan.C3.A1_Gulagy">Díla inspirovaná Gulagy</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=7" title="Editace sekce: Díla inspirovaná Gulagy" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=7" title="Editace sekce: Díla inspirovaná Gulagy">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<div class="thumb tright">
<div class="thumbinner" style="width:222px;"><a href="//commons.wikimedia.org/wiki/File:Evstafiev-solzhenitsyn.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/90/Evstafiev-solzhenitsyn.jpg/220px-Evstafiev-solzhenitsyn.jpg" width="220" height="160" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/90/Evstafiev-solzhenitsyn.jpg/330px-Evstafiev-solzhenitsyn.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/90/Evstafiev-solzhenitsyn.jpg/440px-Evstafiev-solzhenitsyn.jpg 2x" data-file-width="550" data-file-height="399"></a>
<div class="thumbcaption">
<div class="magnify"><a href="/wiki/Soubor:Evstafiev-solzhenitsyn.jpg" class="internal" title="Zvětšit"></a></div>
<a href="/wiki/Alexandr_Sol%C5%BEenicyn" title="Alexandr Solženicyn">Alexandr Solženicyn</a> strávil za kritiku <a href="/wiki/Josif_Vissarionovi%C4%8D_Stalin" title="Josif Vissarionovič Stalin">Stalina</a> 8 let v Gulagu a následně 3 roky ve vyhnanství</div>
</div>
</div>
<ul>
<li><a href="/wiki/Boris_Leonidovi%C4%8D_Pasternak" title="Boris Leonidovič Pasternak">Boris Pasternak</a>, <i><a href="/wiki/Doktor_%C5%BDivago" title="Doktor Živago">Doktor Živago</a></i> (<a href="/wiki/1957" title="1957">1957</a>, v <a href="/wiki/It%C3%A1lie" title="Itálie">Itálii</a>)</li>
<li><a href="/wiki/Alexandr_Sol%C5%BEenicyn" title="Alexandr Solženicyn">Alexandr Solženicyn</a>, <i><a href="/wiki/Jeden_den_Ivana_D%C4%9Bnisovi%C4%8De" title="Jeden den Ivana Děnisoviče">Jeden den Ivana Děnisoviče</a></i> (<a href="/wiki/1962" title="1962">1962</a>, v <a href="/wiki/Sov%C4%9Btsk%C3%BD_svaz" title="Sovětský svaz">SSSR</a>)</li>
<li><a href="/wiki/Alexandr_Sol%C5%BEenicyn" title="Alexandr Solženicyn">Alexandr Solženicyn</a>, <i><a href="/wiki/Souostrov%C3%AD_Gulag" title="Souostroví Gulag">Souostroví Gulag</a></i> (<a href="/wiki/1973" title="1973">1973</a>, v zahraničí)</li>
<li><a href="/wiki/Armand_Maloumian" title="Armand Maloumian">Armand Maloumian</a>, <i><a href="/w/index.php?title=Synov%C3%A9_Gulagu&amp;action=edit&amp;redlink=1" class="new" title="Synové Gulagu (stránka neexistuje)">Synové Gulagu</a></i> – autentické zážitky z osobního prožití</li>
<li><a href="/w/index.php?title=Slavomir_Rawicz&amp;action=edit&amp;redlink=1" class="new" title="Slavomir Rawicz (stránka neexistuje)">Slavomir Rawicz</a>, <i><a href="/wiki/Dlouh%C3%A1_cesta_(kniha)" title="Dlouhá cesta (kniha)">Dlouhá cesta</a></i> (<a href="/wiki/1956" title="1956">1956</a>), v <a href="/wiki/Lond%C3%BDn" title="Londýn">Londýně</a> – vyprávění o transportu do gulagu, tamních podmínkách a hlavně o útěku</li>
<li><a href="/w/index.php?title=Fritz_Blankenhorn&amp;action=edit&amp;redlink=1" class="new" title="Fritz Blankenhorn (stránka neexistuje)">Fritz Blankenhorn</a>, <i><a href="/w/index.php?title=A_nebylo_n%C3%A1vratu&amp;action=edit&amp;redlink=1" class="new" title="A nebylo návratu (stránka neexistuje)">A nebylo návratu</a></i> – příběh o pobytu německého zajatce v ruském pracovním lágru</li>
<li><a href="/wiki/Josef_Martin_Bauer" title="Josef Martin Bauer">Josef Martin Bauer</a>, <i><a href="/w/index.php?title=Kam_a%C5%BE_m%C4%9B_nohy_donesou&amp;action=edit&amp;redlink=1" class="new" title="Kam až mě nohy donesou (stránka neexistuje)">Kam až mě nohy donesou</a></i> (zfilmováno viz <i><a href="/w/index.php?title=B%C3%ADl%C3%A9_peklo&amp;action=edit&amp;redlink=1" class="new" title="Bílé peklo (stránka neexistuje)">Bílé peklo</a></i>) – příběh bývalého německého vojáka jako zajatce v ruském pracovním lágru na Sibiří a jeho následného útěku</li>
<li><a href="/wiki/Varlam_%C5%A0alamov" title="Varlam Šalamov" class="mw-redirect">Varlam Šalamov</a>, <i><a href="/w/index.php?title=Kolymsk%C3%A9_pov%C3%ADdky&amp;action=edit&amp;redlink=1" class="new" title="Kolymské povídky (stránka neexistuje)">Kolymské povídky</a></i></li>
<li><a href="/wiki/Jevgenija_Ginzburgov%C3%A1" title="Jevgenija Ginzburgová">Jevgenija Ginzburgová</a>, - <i><a href="/w/index.php?title=Strma_cesta&amp;action=edit&amp;redlink=1" class="new" title="Strma cesta (stránka neexistuje)">Strma cesta</a></i> - líčí svůj život od uvědomělé členky Komunistické strany Sovětského svazu přes zatčeni a obvinění pobyt v Gulagu až po svou rehabilitaci.</li>
<li><a href="/w/index.php?title=Gustaw_Herling-Grudzi%C5%84ski&amp;action=edit&amp;redlink=1" class="new" title="Gustaw Herling-Grudziński (stránka neexistuje)">Gustaw Herling-Grudziński</a>, <i><a href="/w/index.php?title=Jin%C3%BD_sv%C4%9Bt&amp;action=edit&amp;redlink=1" class="new" title="Jiný svět (stránka neexistuje)">Jiný svět</a></i> (<a href="/wiki/1951" title="1951">1951</a>, v Anglii)</li>
<li><a href="/w/index.php?title=Karlo_%C5%A0tajner&amp;action=edit&amp;redlink=1" class="new" title="Karlo Štajner (stránka neexistuje)">Karlo Štajner</a>, <i><a href="/w/index.php?title=7_000_dn%C3%AD_na_Sibi%C5%99i&amp;action=edit&amp;redlink=1" class="new" title="7 000 dní na Sibiři (stránka neexistuje)">7 000 dní na Sibiři</a></i> (<a href="/wiki/1971" title="1971">1971</a>, Jugoslávie)</li>
<li><a href="/w/index.php?title=Ji%C5%99%C3%AD_S._Kupka&amp;action=edit&amp;redlink=1" class="new" title="Jiří S. Kupka (stránka neexistuje)">Jiří S. Kupka</a>, <i><a href="/wiki/Krvav%C3%A9_jahody" title="Krvavé jahody" class="mw-redirect">Krvavé jahody</a></i> (<a href="/wiki/2007" title="2007">2007</a>, Česká republika) - příběh Věry Sosnarové kterou spolu s její matkou a dcerou odvlekla <a href="/wiki/NKVD" title="NKVD">NKVD</a> na konci <a href="/wiki/Druh%C3%A1_sv%C4%9Btov%C3%A1_v%C3%A1lka" title="Druhá světová válka">druhé světové války</a> do Gulagu</li>
<li><a href="/w/index.php?title=J%C3%A1n_Ko%C5%A1%C3%BAt&amp;action=edit&amp;redlink=1" class="new" title="Ján Košút (stránka neexistuje)">Ján Košút</a>, <i><a rel="nofollow" class="external text" href="http://www.darius.cz/kosut.doc">Cez červený očistec</a></i></li>
</ul>
<h2><span class="mw-headline" id="Galerie">Galerie</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=8" title="Editace sekce: Galerie" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=8" title="Editace sekce: Galerie">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul class="gallery mw-gallery-traditional">
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="//commons.wikimedia.org/wiki/File:Getman_collage.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Getman_collage.jpg/80px-Getman_collage.jpg" width="80" height="120" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Getman_collage.jpg/120px-Getman_collage.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Getman_collage.jpg/160px-Getman_collage.jpg 2x" data-file-width="200" data-file-height="300"></a></div>
</div>
<div class="gallerytext">
<p>Bývalý vězeň gulagu Nikolaj Getman své vzpomínky zachytil obrázky<sup id="cite_ref-7" class="reference"><a href="#cite_note-7">[7]</a></sup></p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="//commons.wikimedia.org/wiki/File:Yagoda_kanal_Moskva_Volga.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/40/Yagoda_kanal_Moskva_Volga.jpg/90px-Yagoda_kanal_Moskva_Volga.jpg" width="90" height="120" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/40/Yagoda_kanal_Moskva_Volga.jpg/135px-Yagoda_kanal_Moskva_Volga.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/40/Yagoda_kanal_Moskva_Volga.jpg/180px-Yagoda_kanal_Moskva_Volga.jpg 2x" data-file-width="675" data-file-height="900"></a></div>
</div>
<div class="gallerytext">
<p>Velitel NKVD <a href="/wiki/Genrich_Jagoda" title="Genrich Jagoda">Genrich Jagoda</a> při inspekci kanálu Moskva-Volha, který budovali vězni gulagu</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:30px auto;"><a href="//commons.wikimedia.org/wiki/File:GULag_2_Museum_Moscow_Russia.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/15/GULag_2_Museum_Moscow_Russia.jpg/120px-GULag_2_Museum_Moscow_Russia.jpg" width="120" height="90" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/15/GULag_2_Museum_Moscow_Russia.jpg/180px-GULag_2_Museum_Moscow_Russia.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/15/GULag_2_Museum_Moscow_Russia.jpg/240px-GULag_2_Museum_Moscow_Russia.jpg 2x" data-file-width="800" data-file-height="600"></a></div>
</div>
<div class="gallerytext">
<p>Muzeum gulagu v Moskvě</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:36.5px auto;"><a href="//commons.wikimedia.org/wiki/File:Vorkuta_r.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/22/Vorkuta_r.jpg/120px-Vorkuta_r.jpg" width="120" height="77" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/22/Vorkuta_r.jpg/180px-Vorkuta_r.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/22/Vorkuta_r.jpg/240px-Vorkuta_r.jpg 2x" data-file-width="1000" data-file-height="642"></a></div>
</div>
<div class="gallerytext">
<p>Ruské město <a href="/wiki/Vorkuta" title="Vorkuta">Vorkuta</a>, bývalý tábor gulagu, kde stále žijí tisíce bývalých věznů a jejich potomci</p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:35px auto;"><a href="//commons.wikimedia.org/wiki/File:%D0%94%D0%B5%D0%BD%D1%8C_%D0%BF%D0%B0%D0%BC%D1%8F%D1%82%D0%B8_%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D1%85_%D0%BD%D0%B5%D0%BC%D1%86%D0%B5%D0%B2,_28_%D0%B0%D0%B2%D0%B3%D1%83%D1%81%D1%82%D0%B0_2011._%D0%92%D0%BE%D0%B7%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/46/%D0%94%D0%B5%D0%BD%D1%8C_%D0%BF%D0%B0%D0%BC%D1%8F%D1%82%D0%B8_%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D1%85_%D0%BD%D0%B5%D0%BC%D1%86%D0%B5%D0%B2%2C_28_%D0%B0%D0%B2%D0%B3%D1%83%D1%81%D1%82%D0%B0_2011._%D0%92%D0%BE%D0%B7%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2.jpg/120px-%D0%94%D0%B5%D0%BD%D1%8C_%D0%BF%D0%B0%D0%BC%D1%8F%D1%82%D0%B8_%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D1%85_%D0%BD%D0%B5%D0%BC%D1%86%D0%B5%D0%B2%2C_28_%D0%B0%D0%B2%D0%B3%D1%83%D1%81%D1%82%D0%B0_2011._%D0%92%D0%BE%D0%B7%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2.jpg" width="120" height="80" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/46/%D0%94%D0%B5%D0%BD%D1%8C_%D0%BF%D0%B0%D0%BC%D1%8F%D1%82%D0%B8_%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D1%85_%D0%BD%D0%B5%D0%BC%D1%86%D0%B5%D0%B2%2C_28_%D0%B0%D0%B2%D0%B3%D1%83%D1%81%D1%82%D0%B0_2011._%D0%92%D0%BE%D0%B7%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2.jpg/180px-%D0%94%D0%B5%D0%BD%D1%8C_%D0%BF%D0%B0%D0%BC%D1%8F%D1%82%D0%B8_%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D1%85_%D0%BD%D0%B5%D0%BC%D1%86%D0%B5%D0%B2%2C_28_%D0%B0%D0%B2%D0%B3%D1%83%D1%81%D1%82%D0%B0_2011._%D0%92%D0%BE%D0%B7%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/46/%D0%94%D0%B5%D0%BD%D1%8C_%D0%BF%D0%B0%D0%BC%D1%8F%D1%82%D0%B8_%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D1%85_%D0%BD%D0%B5%D0%BC%D1%86%D0%B5%D0%B2%2C_28_%D0%B0%D0%B2%D0%B3%D1%83%D1%81%D1%82%D0%B0_2011._%D0%92%D0%BE%D0%B7%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2.jpg/240px-%D0%94%D0%B5%D0%BD%D1%8C_%D0%BF%D0%B0%D0%BC%D1%8F%D1%82%D0%B8_%D1%80%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%B8%D1%85_%D0%BD%D0%B5%D0%BC%D1%86%D0%B5%D0%B2%2C_28_%D0%B0%D0%B2%D0%B3%D1%83%D1%81%D1%82%D0%B0_2011._%D0%92%D0%BE%D0%B7%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2.jpg 2x" data-file-width="4288" data-file-height="2848"></a></div>
</div>
<div class="gallerytext">
<p><a href="/wiki/Soloveck%C3%A9_ostrovy" title="Solovecké ostrovy">Solovecký</a> kámen v Moskvě - pomník obětem gulagu</p>
</div>
</div>
</li>
</ul>
<h2><span class="mw-headline" id="Literatura">Literatura</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=9" title="Editace sekce: Literatura" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=9" title="Editace sekce: Literatura">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul>
<li><cite class="book" style="font-style:normal" id="Reference-Applebaum-2004">APPLEBAUM, Anne. <i>Gulag</i>. [s.l.]&nbsp;: BETA Dobrovský, 2004. <a href="/wiki/Speci%C3%A1ln%C3%AD:Zdroje_knih/807306152X" class="internal mw-magiclink-isbn">ISBN 80-7306-152-X</a>. S.&nbsp;608. (česky)</cite><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rfr_id=info:sid/cs.wikipedia.org:templatecitacemonografie&amp;rft.btitle=Gulag&amp;rft.isbn=80-7306-152-X&amp;rft.aulast=Applebaum&amp;rft.aufirst=Anne&amp;rft.pub=BETA+Dobrovsk%C3%BD&amp;rft.date=2004&amp;rft.pages=608"><span style="display:none">&nbsp;</span></span> – autorka byla za knihu v roce 2004 oceněna Pullitzerovou cenou</li>
<li><cite class="book" style="font-style:normal" id="Reference-Poli.C5.A1ensk.C3.A1-2006">POLIŠENSKÁ, Milada. <i>Čechoslováci v Gulagu a československá diplomacie 1945-1953</i>. Praha, Bratislava&nbsp;: Libri, 2006. <a href="/wiki/Speci%C3%A1ln%C3%AD:Zdroje_knih/8072773151" class="internal mw-magiclink-isbn">ISBN 80-7277-315-1</a>. S.&nbsp;512. (česky)</cite><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rfr_id=info:sid/cs.wikipedia.org:templatecitacemonografie&amp;rft.btitle=%C4%8Cechoslov%C3%A1ci+v+Gulagu+a+%C4%8Deskoslovensk%C3%A1+diplomacie+1945-1953&amp;rft.isbn=80-7277-315-1&amp;rft.aulast=Poli%C5%A1ensk%C3%A1&amp;rft.aufirst=Milada&amp;rft.place=Praha%2C+Bratislava&amp;rft.pub=Libri&amp;rft.date=2006&amp;rft.pages=512"><span style="display:none">&nbsp;</span></span></li>
<li><cite class="book" style="font-style:normal" id="Reference-Kupka-2007">KUPKA, Jiří S.. <i>Krvavé jahody</i>. [s.l.]&nbsp;: Mladá fronta, 2007. <a href="/wiki/Speci%C3%A1ln%C3%AD:Zdroje_knih/9788020417473" class="internal mw-magiclink-isbn">ISBN 978-80-204-1747-3</a>. S.&nbsp;205. (česky)</cite><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rfr_id=info:sid/cs.wikipedia.org:templatecitacemonografie&amp;rft.btitle=Krvav%C3%A9+jahody&amp;rft.isbn=978-80-204-1747-3&amp;rft.aulast=Kupka&amp;rft.aufirst=Ji%C5%99%C3%AD+S.&amp;rft.pub=Mlad%C3%A1+fronta&amp;rft.date=2007&amp;rft.pages=205"><span style="display:none">&nbsp;</span></span></li>
</ul>
<h2><span class="mw-headline" id="Reference">Reference</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=10" title="Editace sekce: Reference" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=10" title="Editace sekce: Reference">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<ol class="references">
<li id="cite_note-1"><span class="mw-cite-backlink"><a href="#cite_ref-1"><span class="cite-accessibility-label">Skočit nahoru </span>↑</a></span> <span class="reference-text"><a href="/wiki/Anne_Applebaum" title="Anne Applebaum" class="mw-redirect">Anne Applebaum</a>: Gulag, Praha-Plzeň 2004, <a href="/wiki/Speci%C3%A1ln%C3%AD:Zdroje_knih/807306152X" class="internal mw-magiclink-isbn">ISBN 80-7306-152-X</a> (str. 12)</span></li>
<li id="cite_note-2"><span class="mw-cite-backlink"><a href="#cite_ref-2"><span class="cite-accessibility-label">Skočit nahoru </span>↑</a></span> <span class="reference-text"><a href="/wiki/Anne_Applebaum" title="Anne Applebaum" class="mw-redirect">Anne Applebaum</a>: Gulag, Praha-Plzeň 2004, <a href="/wiki/Speci%C3%A1ln%C3%AD:Zdroje_knih/807306152X" class="internal mw-magiclink-isbn">ISBN 80-7306-152-X</a> (str. 29)</span></li>
<li id="cite_note-TerorHaza-3"><span class="mw-cite-backlink"><a href="#cite_ref-TerorHaza_3-0"><span class="cite-accessibility-label">Skočit nahoru </span>↑</a></span> <span class="reference-text"><cite style="font-style:normal"><i>Gulag</i> [online]. Teror Háza / Dům Teroru, [cit. 2009-05-17]. <a rel="nofollow" class="external text" href="http://www.terrorhaza.hu/en/exhibition/2nd_floor/gulag.html">Dostupné online.</a>  (anglicky)</cite><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rfr_id=info:sid/cs.wikipedia.org:templatecitaceelmonografie&amp;rft.btitle=Gulag&amp;rft_id=http%3A%2F%2Fwww.terrorhaza.hu%2Fen%2Fexhibition%2F2nd_floor%2Fgulag.html&amp;rft.pub=Teror+H%C3%A1za+%2F+D%C5%AFm+Teroru"><span style="display:none">&nbsp;</span></span></span></li>
<li id="cite_note-CS-4"><span class="mw-cite-backlink"><a href="#cite_ref-CS_4-0"><span class="cite-accessibility-label">Skočit nahoru </span>↑</a></span> <span class="reference-text"><cite style="font-style:normal">SEDLÁK, Gabriel. <i>Kdy končí válka?</i> [online]. Lidové noviny / CS Historie, 2004-5, [cit. 2009-05-17]. <a rel="nofollow" class="external text" href="http://www.cs-magazin.com/2004-05/view.php?article=articles/cs040541.htm">Dostupné online.</a>  (česky)</cite><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rfr_id=info:sid/cs.wikipedia.org:templatecitaceelmonografie&amp;rft.btitle=Kdy+kon%C4%8D%C3%AD+v%C3%A1lka%3F&amp;rft_id=http%3A%2F%2Fwww.cs-magazin.com%2F2004-05%2Fview.php%3Farticle%3Darticles%2Fcs040541.htm&amp;rft.aulast=Sedl%C3%A1k&amp;rft.aufirst=Gabriel&amp;rft.pub=Lidov%C3%A9+noviny+%2F+CS+Historie"><span style="display:none">&nbsp;</span></span></span></li>
<li id="cite_note-Times-5"><span class="mw-cite-backlink"><a href="#cite_ref-Times_5-0"><span class="cite-accessibility-label">Skočit nahoru </span>↑</a></span> <span class="reference-text"><cite style="font-style:normal">WHITTELL, Giles. <i>Hungary buries its PoW held for 55 years</i> [online]. The Times, 2004-4-8, [cit. 2009-05-17]. <a rel="nofollow" class="external text" href="http://www.timesonline.co.uk/tol/news/world/article1057183.ece">Dostupné online.</a>  (anglicky)</cite><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rfr_id=info:sid/cs.wikipedia.org:templatecitaceelmonografie&amp;rft.btitle=Hungary+buries+its+PoW+held+for+55+years&amp;rft_id=http%3A%2F%2Fwww.timesonline.co.uk%2Ftol%2Fnews%2Fworld%2Farticle1057183.ece&amp;rft.aulast=Whittell&amp;rft.aufirst=Giles&amp;rft.pub=The+Times"><span style="display:none">&nbsp;</span></span></span></li>
<li id="cite_note-Timo-6"><span class="mw-cite-backlink"><a href="#cite_ref-Timo_6-0"><span class="cite-accessibility-label">Skočit nahoru </span>↑</a></span> <span class="reference-text"><cite style="font-style:normal">MALMI, Timo. <i>Finland: Finnish soldiers as captives of Stalin and Hitler</i> [online]. The Times, rev. 2009-2-20, [cit. 2009-05-17]. <a rel="nofollow" class="external text" href="http://www.politicalprisoners.eu/finnish-soldiers-and-captives-of-stalin-and-hitler.html">Dostupné online.</a>  (anglicky)</cite><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rfr_id=info:sid/cs.wikipedia.org:templatecitaceelmonografie&amp;rft.btitle=Finland%3A+Finnish+soldiers+as+captives+of+Stalin+and+Hitler&amp;rft_id=http%3A%2F%2Fwww.politicalprisoners.eu%2Ffinnish-soldiers-and-captives-of-stalin-and-hitler.html&amp;rft.aulast=Malmi&amp;rft.aufirst=Timo&amp;rft.pub=The+Times"><span style="display:none">&nbsp;</span></span></span></li>
<li id="cite_note-7"><span class="mw-cite-backlink"><a href="#cite_ref-7"><span class="cite-accessibility-label">Skočit nahoru </span>↑</a></span> <span class="reference-text"><cite style="font-style:normal"><i>Nikolai Getman: The Gulag Collection</i> [online]. The Jamestown Foundation. <a rel="nofollow" class="external text" href="http://www.jamestown.org/aboutus/getmanpaintings/getmancatalog/">Dostupné online.</a>  (anglicky)</cite><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rfr_id=info:sid/cs.wikipedia.org:templatecitaceelmonografie&amp;rft.btitle=Nikolai+Getman%3A+The+Gulag+Collection&amp;rft_id=http%3A%2F%2Fwww.jamestown.org%2Faboutus%2Fgetmanpaintings%2Fgetmancatalog%2F&amp;rft.pub=The+Jamestown+Foundation"><span style="display:none">&nbsp;</span></span><span title="Chyba v použití šablony!" class="error" style="font-weight:bold;display:none;">Je zde použita šablona <code>{{<a href="/wiki/%C5%A0ablona:Cite_web" title="Šablona:Cite web">Cite web</a>}}</code> označená jako pro "pouze dočasné použití".</span></span></li>
</ol>
<h2><span class="mw-headline" id="Gulag_v_sou.C4.8Dasn.C3.A9m_um.C4.9Bn.C3.AD">Gulag v současném umění</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=11" title="Editace sekce: Gulag v současném umění" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=11" title="Editace sekce: Gulag v současném umění">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul class="gallery mw-gallery-traditional">
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:32.5px auto;"><a href="//commons.wikimedia.org/wiki/File:Eugene_Ivanov_716.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Eugene_Ivanov_716.jpg/120px-Eugene_Ivanov_716.jpg" width="120" height="85" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Eugene_Ivanov_716.jpg/180px-Eugene_Ivanov_716.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Eugene_Ivanov_716.jpg/240px-Eugene_Ivanov_716.jpg 2x" data-file-width="1000" data-file-height="711"></a></div>
</div>
<div class="gallerytext">
<p>Teritorium, 2007. Autor: <a href="/wiki/Eugene_Ivanov" title="Eugene Ivanov">Eugene Ivanov</a></p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:15px auto;"><a href="//commons.wikimedia.org/wiki/File:Eugene_Ivanov_789.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Eugene_Ivanov_789.jpg/86px-Eugene_Ivanov_789.jpg" width="86" height="120" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Eugene_Ivanov_789.jpg/129px-Eugene_Ivanov_789.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Eugene_Ivanov_789.jpg/172px-Eugene_Ivanov_789.jpg 2x" data-file-width="717" data-file-height="1000"></a></div>
</div>
<div class="gallerytext">
<p>Divadlo doby Sovětského svazu, 2007. Autor: <a href="/wiki/Eugene_Ivanov" title="Eugene Ivanov">Eugene Ivanov</a></p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:18.5px auto;"><a href="//commons.wikimedia.org/wiki/File:Eugene_Ivanov_800.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/29/Eugene_Ivanov_800.jpg/120px-Eugene_Ivanov_800.jpg" width="120" height="113" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/29/Eugene_Ivanov_800.jpg/180px-Eugene_Ivanov_800.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/29/Eugene_Ivanov_800.jpg/240px-Eugene_Ivanov_800.jpg 2x" data-file-width="1000" data-file-height="939"></a></div>
</div>
<div class="gallerytext">
<p>Nebeská etapa, 2007. Autor: <a href="/wiki/Eugene_Ivanov" title="Eugene Ivanov">Eugene Ivanov</a></p>
</div>
</div>
</li>
<li class="gallerybox" style="width: 155px">
<div style="width: 155px">
<div class="thumb" style="width: 150px;">
<div style="margin:32.5px auto;"><a href="//commons.wikimedia.org/wiki/File:Eugene_Ivanov_880.jpg" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/91/Eugene_Ivanov_880.jpg/120px-Eugene_Ivanov_880.jpg" width="120" height="85" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/91/Eugene_Ivanov_880.jpg/180px-Eugene_Ivanov_880.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/91/Eugene_Ivanov_880.jpg/240px-Eugene_Ivanov_880.jpg 2x" data-file-width="1000" data-file-height="706"></a></div>
</div>
<div class="gallerytext">
<p>Sever, 2008. Autor: <a href="/wiki/Eugene_Ivanov" title="Eugene Ivanov">Eugene Ivanov</a></p>
</div>
</div>
</li>
</ul>
<h2><span class="mw-headline" id="Souvisej.C3.ADc.C3.AD_.C4.8Dl.C3.A1nky">Související články</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=12" title="Editace sekce: Související články" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=12" title="Editace sekce: Související články">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul>
<li><a href="/wiki/Naftalij_Aronovi%C4%8D_Frenkel" title="Naftalij Aronovič Frenkel">Naftalij Aronovič Frenkel</a></li>
<li><a href="/wiki/Raoul_Wallenberg" title="Raoul Wallenberg">Raoul Wallenberg</a></li>
</ul>
<h2><span class="mw-headline" id="Extern.C3.AD_odkazy">Externí odkazy</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=Gulag&amp;veaction=edit&amp;vesection=13" title="Editace sekce: Externí odkazy" class="mw-editsection-visualeditor">editovat</a><span class="mw-editsection-divider"> | </span><a href="/w/index.php?title=Gulag&amp;action=edit&amp;section=13" title="Editace sekce: Externí odkazy">editovat zdroj</a><span class="mw-editsection-bracket">]</span></span></h2>
<ul>
<li><span class="sisterproject sisterproject-commons"><span class="sisterproject_image"><a href="/wiki/Wikimedia_Commons" title="Wikimedia Commons"><img alt="Logo Wikimedia Commons" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/12px-Commons-logo.svg.png" width="12" height="16" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/18px-Commons-logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Commons-logo.svg/24px-Commons-logo.svg.png 2x" data-file-width="1024" data-file-height="1376"></a></span> <span class="sisterproject_text">Obrázky, zvuky či videa k tématu <span class="sisterproject_text_target"><a href="//commons.wikimedia.org/wiki/Category:Gulag" class="extiw" title="c:Category:Gulag">Gulag</a></span> ve <a href="/wiki/Wikimedia_Commons" title="Wikimedia Commons">Wikimedia Commons</a></span></span></li>
<li><span style="cursor:help;" data-lang="sk" title="Jazyk cíle odkazu: slovenština">(slovensky)</span> <a rel="nofollow" class="external text" href="http://www.upn.gov.sk/obdobie-1945-1989/zoznam-osob-odvlecenych-do-gulagov/">Ústav pamäti národa – seznam československých občanů odvlečených sověty do Gulagu</a></li>
<li><span style="cursor:help;" data-lang="cs" title="Jazyk cíle odkazu: čeština">(česky)</span> <a rel="nofollow" class="external text" href="http://www.totalita.cz/vysvetlivky/gulag.php">Gulag, historie, mapy - Totalita.cz</a></li>
<li><span style="cursor:help;" data-lang="ru" title="Jazyk cíle odkazu: ruština">(rusky)</span> <a rel="nofollow" class="external text" href="http://www.memo.ru/history/NKVD/GULAG/maps/ussri.htm">Mapa Gulagů</a></li>
<li><span style="cursor:help;" data-lang="en" title="Jazyk cíle odkazu: angličtina">(anglicky)</span> <a rel="nofollow" class="external text" href="http://www.nytimes.com/2003/06/11/books/11MCFA.html?th"><i>Tábory teroru, často pozapomínané</i>, New York Times</a></li>
<li><span style="cursor:help;" data-lang="en" title="Jazyk cíle odkazu: angličtina">(anglicky)</span> <a rel="nofollow" class="external text" href="http://www.hooverpress.org/productdetails.cfm?PC=1026">Ekonomie nucených prací: Sovětský Gulag</a></li>
<li><span style="cursor:help;" data-lang="lt" title="Jazyk cíle odkazu: litevština">(litevsky)</span> <a rel="nofollow" class="external text" href="http://www.angelfire.com/de/Cerskus/english/Gulag1.html">Gulag, album fotografií</a></li>
</ul>
<table class="plainlinks metadata noprint pahyl" cellpadding="2" style="background: transparent;">
<tbody><tr>
<td>
<div class="floatleft"><a href="//commons.wikimedia.org/wiki/File:Wiki_letter_w.svg" class="image" title="Pahýl"><img alt="Pahýl" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Wiki_letter_w.svg/40px-Wiki_letter_w.svg.png" width="40" height="40" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Wiki_letter_w.svg/60px-Wiki_letter_w.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Wiki_letter_w.svg/80px-Wiki_letter_w.svg.png 2x" data-file-width="44" data-file-height="44"></a></div>
</td>
<td><i>Tento článek je <a href="/wiki/Wikipedie:Pah%C3%BDl" title="Wikipedie:Pahýl">příliš stručný</a> nebo postrádá důležité informace.<br>
Pomozte Wikipedii tím, že jej vhodně <a class="external text" href="//cs.wikipedia.org/w/index.php?title=Gulag&amp;action=edit">rozšíříte</a>. Nevkládejte však <a href="/wiki/Wikipedie:Autorsk%C3%A9_pr%C3%A1vo#Pou.C5.BE.C3.ADv.C3.A1n.C3.AD_ciz.C3.ADch_autorsk.C3.BDch_d.C4.9Bl" title="Wikipedie:Autorské právo">bez oprávnění</a> cizí texty.</i></td>
</tr>
</tbody></table>


<!-- 
NewPP limit report
Parsed by mw1099
CPU time usage: 0.270 seconds
Real time usage: 0.339 seconds
Preprocessor visited node count: 5336/1000000
Preprocessor generated node count: 0/1500000
Post‐expand include size: 19111/2097152 bytes
Template argument size: 7300/2097152 bytes
Highest expansion depth: 10/40
Expensive parser function count: 0/500
Lua time usage: 0.029/10.000 seconds
Lua memory usage: 852 KB/50 MB
-->

<!-- 
Transclusion expansion time report (%,ms,calls,template)
100.00%  263.866      1 - -total
 21.74%   57.357      1 - Šablona:Commonscat
 16.90%   44.600      5 - Šablona:Citace_elektronické_monografie
 15.85%   41.817     18 - Šablona:Jazykem
 14.33%   37.808      3 - Šablona:Citace_monografie
  9.75%   25.719      1 - Šablona:Cite_web
  7.79%   20.552      5 - Šablona:Cíl_odkazu
  5.37%   14.159      1 - Šablona:Pouze_dočasné_použití
  5.18%   13.668      8 - Šablona:COinS
  4.43%   11.677      1 - Šablona:Chyba
-->

<!-- Saved in parser cache with key cswiki:pcache:idhash:15134-0!*!0!!cs!4!* and timestamp 20150627203203 and revision id 12444884
 -->
<noscript>&lt;img src="//cs.wikipedia.org/wiki/Special:CentralAutoLogin/start?type=1x1" alt="" title="" width="1" height="1" style="border: none; position: absolute;" /&gt;</noscript></div>					<div class="printfooter">
						Citováno z „<a dir="ltr" href="https://cs.wikipedia.org/w/index.php?title=Gulag&amp;oldid=12444884">https://cs.wikipedia.org/w/index.php?title=Gulag&amp;oldid=12444884</a>“					</div>
				<div id="catlinks" class="catlinks"><div id="mw-normal-catlinks" class="mw-normal-catlinks"><a href="/wiki/N%C3%A1pov%C4%9Bda:Kategorie" title="Nápověda:Kategorie">Kategorie</a>: <ul><li><a href="/wiki/Kategorie:Gulag" title="Kategorie:Gulag">Gulag</a></li><li><a href="/wiki/Kategorie:Komunistick%C3%BD_re%C5%BEim_v_Sov%C4%9Btsk%C3%A9m_svazu" title="Kategorie:Komunistický režim v Sovětském svazu">Komunistický režim v Sovětském svazu</a></li><li><a href="/wiki/Kategorie:Nucen%C3%A9_pr%C3%A1ce" title="Kategorie:Nucené práce">Nucené práce</a></li><li><a href="/wiki/Kategorie:Politick%C3%A9_represe" title="Kategorie:Politické represe">Politické represe</a></li><li><a href="/wiki/Kategorie:V%C4%9Bzn%C4%9Bn%C3%AD_a_internace" title="Kategorie:Věznění a internace">Věznění a internace</a></li><li><a href="/wiki/Kategorie:Stalinismus" title="Kategorie:Stalinismus">Stalinismus</a></li></ul></div><div id="mw-hidden-catlinks" class="mw-hidden-catlinks mw-hidden-cats-hidden">Skryté kategorie: <ul><li><a href="/wiki/Kategorie:Pouze_do%C4%8Dasn%C3%A1_pou%C5%BEit%C3%AD" title="Kategorie:Pouze dočasná použití">Pouze dočasná použití</a></li><li><a href="/wiki/Kategorie:Pah%C3%BDly" title="Kategorie:Pahýly">Pahýly</a></li></ul></div></div>				<div class="visualClear"></div>
							</div>